#above-section{
    margin-left: 10%;
    margin-right: 10%;
    height: 30em;
}
#down-section{
    margin-left: 10%;
    margin-right: 10%;
    height: 40em;
}
#profile-details{
    float:none;
    overflow:hidden;
    height: 30em;
}
#profile-contacts{
    float:left;
    height: auto;
    width: 30em;
    margin-top: 0em !important;
    
}
#profile-products{
    float:none;
    overflow:hidden;
    height: auto;
    max-height: 63.15em;
}
#profile-image{
    float:left;
    margin: 0em 1em 1em 1em;
    border: 0.5em solid white;
    height: 21em;
    width: 21em;

}
#profile-image img{
    height: 20em;
    width: 20em;
}
#profile-description{
    float:none;
    overflow:hidden;
    margin: 1em 1em 1em 1em;
    height: 21em;
}
.contact-box{
    margin: 1em 1em 1em 1em;
    height: 10em;
}
.contact-box img{
    height: 8em;
    width: 8em;
    margin: 1em auto auto 1em;
}
.contact-icon{
    width: 10em;
    height: 10em;
    float: left;

}
.contact-text{
    padding-top: 3em;
    padding-bottom: 3em;
    text-align:center;
    height: 10em;
    margin-top: 2em;
    overflow:hidden;
}
